<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="app">
	  <p>{{ message }}</p>
	  <input type="text" v-model="message">
	</div>
	<div id="app2">
		<ul>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ul>
	</div>
	<div id="app3">
	  <input v-model="newTodo" v-on:keyup.enter="addTodo">
	  <ul>
	    <li v-for="todo in todos">
	      <span>{{ todo.text }}</span>
	      <button v-on:click="removeTodo($index)">X</button>
	    </li>
	  </ul>
	</div>
	<div id="example">
	  a={{ a }}, b={{ b }}
	  <p><input type="number" v-model="num"></p>
	</div>
	<div id="example2">
	  <button v-on:click="greet">Greet</button>
	</div>
	<script>
		new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue.js!'
		  }
		});
		new Vue({
		  el: '#app2',
		  data: {
		    todos:[
			    {text:"javascript"},
			    {text:"vue.js"},
			    {text:"html"}
		    ]
		  }
		});
		new Vue({
		  el: '#app3',
		  data: {
		    newTodo: '',
		    todos: [
		      { text: 'Add some todos' }
		    ]
		  },
		  methods: {
		    addTodo: function () {
		      var text = this.newTodo.trim()
		      if (text) {
		        this.todos.push({ text: text })
		        this.newTodo = ''
		      }
		    },
		    removeTodo: function (index) {
		      this.todos.splice(index, 1)
		    }
		  }
		})
		var vm = new Vue({
			el: "#example",
			data: {
				a: 1,
				num: 0
			},
			computed:{
				b: function(){
					return parseInt(this.a) + parseInt(this.num);
				}
			}
		});
		var vm2 = new Vue({
			el: "#example2",
			data: {
				name: "hp"
			},
			methods: {
				greet: function(event){
					alert("Hello" + this.name + "!");
					alert(event.target.tagName);
				}
			}
		});
	</script>
</body>
</html>